.footer {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #3939af;
    width: 100%;
    height: 200px;
    display: flex;
}

.footer-logo {
    width: 350px;
    height: 200px;
}

.footer-logo-img {
    max-width: 100%;
}

.footer h3 {
    margin-bottom: 0.3em;
}

.footer p {
    margin-bottom: 0.3em;
}
